@import "tailwindcss";



body {
 
  font-family: Arial, Helvetica, sans-serif;
}
.FeatureSection{
  background: url("/images/SchoolAura.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;

}

.feature-1{
top: 2%;
  right: 20%;
  transform: translateY(-50%);
}
.feature-2{
  top:25%;
  right: 15%;
  transform: translateY(50%);
}
.feature-3{
  bottom: 20%;
  left: 25%;
}
.feature-4{
  top: 25%;
  left:15%;
  transform: translateY(50%);
}
.software-card-1 .img{
width:270px;
height: 500px;
}
.software-card-4 .img {
  width:300px;
  height:570px;
  }
.software-card-2 .img{
  width:100%;
height: 200px;
}
.software-card-3 .img {
  width:100%;
height: 380px;
}
@media (max-width: 1535px) {
  .feature-1{
  right: 13%;
}
.feature-2{
   right: 9%;
}
.feature-4{
    left: 8%;
}
.feature-3{
  left: 18%;
}
}

@media (max-width: 1279px) {
  .feature-1{
  right: 6%;
}
.feature-2{
   right: 2%;
}
.feature-4{
    left: 2%;
}
.feature-3{
  left: 12%;
}
}

/* md */
@media (max-width: 1023px) {
   .feature-1{
  right:7%;
}
.feature-2{
   right: -1%;
}
.feature-4{
    left: -1%;
}
.feature-3{
  left: 10%;
}
}

/* sm */
@media (max-width: 767px) {
   .feature-1{
  right:7%;
}
.feature-2{
   right: 2%;
}
.feature-4{
    left: 2%;
}
.feature-3{
  bottom: 15%;
}
}

/* mobile */
@media (max-width: 639px) {
   .feature-1{
  right:7%;
}
.feature-2{
   right: 5%;
}
.feature-4{
    left: 5%;
}
}
@media (max-width:576px) {
   .feature-1{
  top: 1%;
  right: 2%;
  transform: translateY(-60%);
}
.feature-3{
  left:7%;
  bottom: 10%;
}
}
